
<router-outlet></router-outlet>
	  <div class="container" >
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box" style="background: white">
                <!-- <div class="col-lg-12 login-key">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div> -->
                <!-- <div class="col-lg-12 login-title">
                    Login
				</div> -->
				<br>
				<br>
				<br>
				<div class="col-lg-12" style="margin-top: 0px;">
					<img src="assets/logo.jpeg" height="100" width="170">
				</div>

                    <div class="col-lg-12 login-form">
                        <form >
							<div class="col-12" style="margin-left: 30%;">
                            <mat-form-field class="example-full-width">
								<mat-label>Email</mat-label>
								<input
								#email type="text"
								  style="width: 100%;"
								  matInput
								  placeholder="Enter Email"
								  name="email"
								
								/>
							  </mat-form-field>
							</div>
							<div class="col-12" style="margin-left: 30%;">
								<mat-form-field class="example-full-width">
									<mat-label>Password</mat-label>
									<input
									#password 
									type="password"
									  style="width: 100%;"
									  matInput
									  placeholder="Enter Password"
									  name="password"
									
									/>
								  </mat-form-field>
								</div>
								<br>
								<br>
                            <div class="col-lg-12 loginbttm">
                                <div class="col-lg-6 login-btm login-text">
                                    <!-- Error Message -->
                                </div>
                                <div class="col-lg-6 login-btm login-button">
									<button type="submit" mat-stroked-button style="margin-left: 150%;color: grey;" (click)="check(email.value,password.value)">LOGIN</button>
									<!-- <div *ngIf="showLoading" style="margin-left: 40%;">		
										<div class="spinner-grow text-dark" role="status">
										  <span class="sr-only">Loading...</span>
										</div>
									  </div> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
				<div class="col-lg-3 col-md-2"></div>
			
            </div>
		</div>
		<br>
		

