
<br>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img style="margin-left: 60%;" src="assets/user.png" alt="Avatar" class="avatar">
        <input type="file"  (change)="onFileChange($event)" style="margin-left: 40%;" >
    </div>
    
    <div class="col-md-8">
      <mat-card>
      <form class="example-form">
        <h3>Personal Information</h3>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input
                style="width: 100%;"
                matInput
                placeholder="Name"
                [(ngModel)]="appFormObj.name"
                name="name"
                
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input
                style="width: 100%;"
                matInput
                placeholder="Email"
                name="email"
                [(ngModel)]="appFormObj.email"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <mat-label>Phone Number</mat-label>
              <input
                style="width: 100%;"
                matInput
                placeholder="phone number"
                name="phone"
                [(ngModel)]="appFormObj.phone"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <mat-label style="font-size: 1em;">Gender</mat-label>
              <mat-select name="gender" [(ngModel)]="appFormObj.gender">
                <mat-option *ngFor="let gen of Gender" [value]="gen.value">
                  {{gen.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field> 
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label style="font-size: 1em;">Birth date</mat-label>
              <input style="width: 100%;" name="dateOfBirth" [(ngModel)]="appFormObj.dateOfBirth" matInput [matDatepicker]="picker" />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <mat-label>Place of Birth</mat-label>
              <input
                style="width: 100%;"
                matInput
                placeholder="Place of Birth"
                name="placeOfBirth"
                [(ngModel)]="appFormObj.placeOfBirth"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <mat-label>Address</mat-label>
              <input
                style="width: 100%;"
                matInput
                placeholder="Address"
                name="address"
                [(ngModel)]="appFormObj.address"
              />
            </mat-form-field>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <mat-label>City</mat-label>
              <input
                style="width: 100%;"
                matInput
                placeholder="Ex. Pizza"
                value="Sushi"
              />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <mat-label>Province</mat-label>
              <input
                style="width: 100%;"
                matInput
                placeholder="Ex. Pizza"
                value="Sushi"
              />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <mat-label>Country</mat-label>
              <input
                style="width: 100%;"
                matInput
                placeholder="Ex. Pizza"
                value="Sushi"
              />
            </mat-form-field>
          </div>

        </div> -->
        <h3>Documentation</h3>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <mat-label>Visa Details</mat-label>
              <input
                style="width: 100%;"
                matInput
                placeholder="Visa Details"
                name="visaDetails"
                [(ngModel)]="appFormObj.visaDetails"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label style="font-size: 1em;">Citizenship</mat-label>
              <mat-select name="citizenship" [(ngModel)]="appFormObj.citizenship">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <input type="file" (change)="onFileChange($event)"  />
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
          <h4 style="color: #7D7D7D;">Completed Documentation</h4>
          </div>
          </div>
          <div class="row">
          <div class="col-md-6"><mat-checkbox name="employeeApplication" [(ngModel)]="appFormObj.employeeApplication">Employee Application</mat-checkbox></div>
          <div class="col-md-6"><mat-checkbox  name ="medicalClearance" [(ngModel)]="appFormObj.medicalClearance">Medical Clearance</mat-checkbox></div>
        </div>
        <div class="row">
          <div class="col-md-6"><mat-checkbox name="employeeOrientation" [(ngModel)]="appFormObj.employeeOrientation">Employee Orientation</mat-checkbox></div>
          <div class="col-md-6"><mat-checkbox name="employeeWellness" [(ngModel)]="appFormObj.employeeWellness">Employee Wellness</mat-checkbox></div>
        </div>
        <div class="row">
          <div class="col-md-6"><mat-checkbox name="employeeIdentification" [(ngModel)]="appFormObj.employeeIdentification">Employee Identification</mat-checkbox></div>
          <div class="col-md-6"><mat-checkbox name="emergencyContact" [(ngModel)]="appFormObj.emergencyContact">Emergency Contact</mat-checkbox></div>
        </div>
        <div class="row">
          <div class="col-md-6"><mat-checkbox name="securityClearance" [(ngModel)]="appFormObj.securityClearance">Security Clearence</mat-checkbox></div>
          <!-- <div class="col-md-6"><mat-checkbox>Emergency Contact</mat-checkbox></div> -->
        </div>
        <button (click)="saveApplicantForm()" mat-raised-button color="warn">Save</button>

      </form>
    </mat-card>
    </div>
  </div>
</div>
