*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  mat-label{
    font-size: 1em;
  }

  .avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .avatar2 {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    /* border-radius: 50%; */
  }

  #imgFile{
    display: none;
} 

label{
  padding: 5px;
  background: grey; 
  display: table;
  color: #fff;
   }
.mat-save {
    background-color:#fe0024;
    color: #fff;
}




  