<nav
  class="navbar navbar-light bg-light"
  style="
    background-color: white !important;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: thin;
    border-bottom-style: ridge;
    box-shadow: 0px 5px 5px rgb(179, 179, 179);
  "
>
  <a
    class="navbar-brand mb-0 h3"
   
    style="
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: 800;
    "
  >
    PROFILES</a
  >
  <div style="margin-right: 50%">
    <button
      mat-stroked-button
      (click)="goToNewProfiles()"
      style="font-size: 1.1em; font-weight: 600"
    >
      Create New Profile
    </button>
    &nbsp;
    <button
      mat-stroked-button
      (click)="goToapplicantTable()"
      style="font-size: 1.1em; font-weight: 600"
    >
      Browse Profiles
    </button>
  </div>
  <div style="margin-right: 10%" style="cursor: pointer" (click)="logout()">
    <img src="assets/icons8-logout-rounded-left-24.png" alt="" />
  </div>
  <div class="row" style="float: right; margin-right: 0%">
    <img src="assets/logo.jpeg" height="33" width="57" />
  </div>
</nav>

<br />
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img
        style="margin-left: 60%"
        [src]="
          appFormObj.userImage != null
            ? 'data:image/jpeg;base64,' + appFormObj.userImage
            : 'assets/user.png'
        "
        alt="Avatar"
        class="avatar"
      />
      <label
        style="
          margin-left: 63%;
          font-size: 0.9em;
          margin-top: 5%;
          cursor: pointer;
        "
        >Select Picture
        <input
          type="file"
          id="imgFile"
          (change)="onImageChange($event, 'userImage')"
          style="margin-left: 40%"
        />
      </label>
    </div>

    <div class="col-md-6">
      <mat-card>
        <form class="example-form" #myForm="ngForm">
          <mat-horizontal-stepper  #stepper>
            <mat-step>
          <div class="row">
            <div class="col-md-5">
          <h3>Personal Information</h3>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-4">
          <mat-slide-toggle style="float: right;" (input)="check()" [checked]="appFormObj.kpiCertified" name="check" [(ngModel)]="appFormObj.kpiCertified"><b style="color:#404085">KPI Certified</b></mat-slide-toggle>
        </div>
        </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input
                  style="width: 100%"
                  matInput
                  placeholder="Name"
                  [(ngModel)]="appFormObj.name"
                  name="name"
                  required
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input
                  style="width: 100%"
                  matInput
                  placeholder="Email"
                  name="email"
                  [(ngModel)]="appFormObj.email"
                  required
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <mat-label>Home Number</mat-label>
                <input
                  style="width: 100%"
                  matInput
                  placeholder="home number"
                  name="homeNumber"
                  [(ngModel)]="appFormObj.homeNumber"
                  required
                />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <mat-label>Cell Number</mat-label>
                <input
                  style="width: 100%"
                  matInput
                  placeholder="cell number"
                  name="cellNumber"
                  [(ngModel)]="appFormObj.cellNumber"
                  required
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                <mat-label style="font-size: 1em">Gender</mat-label>
                <mat-select
                  name="gender"
                  [(ngModel)]="appFormObj.gender"
                  required
                >
                  <mat-option *ngFor="let gen of Gender" [value]="gen.value">
                    {{ gen.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-label style="font-size: 1em">Birth date</mat-label>
                <input
                  style="width: 100%"
                  name="dateOfBirth"
                  [(ngModel)]="appFormObj.dateOfBirth"
                  matInput
                  [matDatepicker]="picker"
                  required
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <mat-label>Place of Birth</mat-label>
                <input
                  style="width: 100%"
                  matInput
                  placeholder="Place of Birth"
                  name="placeOfBirth"
                  [(ngModel)]="appFormObj.placeOfBirth"
                  required
                />
              </mat-form-field>
            </div>
          </div>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step>
          <h3>Address Details</h3>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>Street Address</mat-label>
                <input
                  style="width: 100%"
                  matInput
                  placeholder="Street Address"
                  name="address"
                  [(ngModel)]="appFormObj.address"
                  required
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
          <div class="col-md-6">

            <mat-form-field style="width:100%">
              <mat-label>Choose a Country</mat-label>
              <mat-select (selectionChange)="countryChange($event)"
                required
                [(ngModel)]="countryObj"
                name="country">
                <mat-option *ngFor="let c of countries"
                  [value]="c">
                  {{c.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-md-6">
            <mat-form-field style="width:100%">
              <mat-label>Choose a Province/State</mat-label>
              <mat-select (selectionChange)="provinceChange($event)"
                required
                [(ngModel)]="provinceObj"
                name="province">
                <mat-option *ngFor="let p of provinces"
                  [value]="p">
                  {{p.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field style="width:100%">
              <mat-label>Choose a City</mat-label>
              <mat-select required
              [(ngModel)]="cityObj"
                name="city"
                (selectionChange)="cityChange($event)">
                <mat-option *ngFor="let c of cities"
                  [value]="c">
                  {{c.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <mat-label>ZIP code </mat-label>
                <input
                  required
                  style="width: 100%"
                  matInput
                  placeholder="ZIP code"
                  name="zipCode"
                  [(ngModel)]="appFormObj.zipCode"
                />
              </mat-form-field>
           
          </div>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
          <h3>Emergency Contact Info</h3>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>Name </mat-label>
                <input
                required
                  style="width: 100%"
                  matInput
                  placeholder="Emergency Name"
                  name="emergencyName"
                  [(ngModel)]="appFormObj.emergencyName"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>Phone </mat-label>
                <input
                required
                  style="width: 100%"
                  matInput
                  placeholder="Emergency Phone number"
                  name="emergencyPhone"
                  [(ngModel)]="appFormObj.emergencyPhone"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>Street Address </mat-label>
                <input
                required
                  style="width: 100%"
                  matInput
                  placeholder="Emergency Address"
                  name="emergencyAddress"
                  [(ngModel)]="appFormObj.emergencyAddress"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
  
              <mat-form-field style="width:100%">
                <mat-label>Choose a Country</mat-label>
                <mat-select (selectionChange)="countryChangeForEmergency($event)"
                  required
                  [(ngModel)]="countryObjForEmergency"
                  name="countryForEmergency">
                  <mat-option *ngFor="let c of countriesForEmergency"
                    [value]="c">
                    {{c.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
  
            </div>
            <div class="col-md-6">
              <mat-form-field style="width:100%">
                <mat-label>Choose a Province/State</mat-label>
                <mat-select (selectionChange)="provinceChangeForEmergency($event)"
                  required
                  [(ngModel)]="provinceObjForEmergency"
                  name="provinceForEmergency">
                  <mat-option *ngFor="let p of provincesForEmergency"
                    [value]="p">
                    {{p.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field style="width:100%">
                <mat-label>Choose a City</mat-label>
                <mat-select required
                [(ngModel)]="cityObjForEmergency"
                  name="cityForEmergency"
                  (selectionChange)="cityChangeForEmergency($event)">
                  <mat-option *ngFor="let c of citiesForEmergency"
                    [value]="c">
                    {{c.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>ZIP code </mat-label>
                  <input
                    required
                    style="width: 100%"
                    matInput
                    placeholder="ZIP code"
                    name="zipCodeForEmergency"
                    [(ngModel)]="appFormObj.zipCodeForEmergency"
                  />
                </mat-form-field>
             
            </div>
          </div>
         

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step>
          <h3>Assignement Details</h3>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>Position </mat-label>
                <input
                required
                  style="width: 100%"
                  matInput
                  placeholder="Position"
                  name="position"
                  [(ngModel)]="appFormObj.position"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>Wage </mat-label>
                <input
                required
                  style="width: 100%"
                  matInput
                  placeholder="Wage"
                  name="wage"
                  [(ngModel)]="appFormObj.wage"
                />
              </mat-form-field>
            </div>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step>
          <h3>Documentation</h3>
          <div class="row">
            <mat-label style="font-size: 1em; margin-left: 3%"
              >Visa Details</mat-label
            >
          </div>
          <br />
          <div class="row">
            <mat-radio-group
              name="visaDetails"
              [(ngModel)]="appFormObj.visaDetails"
              style="margin-left: 3%"
            >
              <mat-radio-button value="yes">Yes</mat-radio-button>
              &nbsp;
              <mat-radio-button value="no">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <br />

          <div *ngIf="appFormObj.visaDetails == 'yes'" class="row">
            <mat-label style="font-size: 1em; margin-left: 3%"
              >Select Details</mat-label
            >
            <mat-radio-group
              name="visaWorkOptions"
              [(ngModel)]="appFormObj.visaWorkOptions"
              style="margin-left: 3%"
            >
              <mat-radio-button value="yes"> Work</mat-radio-button>
              &nbsp; &nbsp;
              <mat-radio-button value="Education"> Education</mat-radio-button>
              &nbsp; &nbsp;
              <mat-radio-button value="Other"> Other</mat-radio-button>
            </mat-radio-group>
            <mat-form-field style="margin-left: 3%;">
              <mat-label style="font-size: 1em">Visa Expiry Date</mat-label>
              <input
                style="width: 100%"
                name="visaExpiryDate"
                [(ngModel)]="appFormObj.visaExpiryDate"
                matInput
                [matDatepicker]="picker"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <br />
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-label style="font-size: 1em"
                  >Canadian Citizenship</mat-label
                >
                <mat-select
                  name="citizenship"
                  [(ngModel)]="appFormObj.citizenship"
                  required
                >
                  <mat-option
                    *ngFor="let opts of dropdownOptions"
                    [value]="opts.value"
                  >
                    {{ opts.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="appFormObj.citizenship == 'yes'" class="row">
            <mat-label style="font-size: 1em; margin-left: 3%"
              >Select Canadian Citizenship Details</mat-label
            >
            <mat-radio-group
              name="canadianCitizenshipDetails"
              [(ngModel)]="appFormObj.canadianCitizenshipDetails"
              style="margin-left: 3%"
            >
              <mat-radio-button value="yes"> Citizen</mat-radio-button>
              &nbsp; &nbsp;
              <mat-radio-button value="Education"> Permanent Resident</mat-radio-button>
            
            </mat-radio-group>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h4 style="color: #7d7d7d">Completed Documentation</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-checkbox
                name="employeeOrientation"
                [(ngModel)]="appFormObj.employeeOrientation"
                >Employee Orientation</mat-checkbox
              >
            </div>
            <div class="col-md-6">
              <mat-checkbox
                name="medicalClearance"
                [(ngModel)]="appFormObj.medicalClearance"
                >Medical Clearance</mat-checkbox
              >
            </div>
          </div>
         
          
          <br />

          <div class="row">
            <div class="col-md-6">
              <mat-label style="font-size: 1em">Upload Security clearance</mat-label>
              <br />
              <div *ngIf="appFormObj.securityClearance">
                
                <img
                  style="margin-left: 25%; width: 50px; height: 50px"
                  [src]="
                    appFormObj.securityClearance != null
                      ? 'data:image/jpeg;base64,' +
                        appFormObj.securityClearance
                      : 'assets/emptyImg.jpg'
                  "
                  alt="Avatar"
                  class="avatar2"
                  (click)="openModalForPicture(content2)"
                />

                <ng-template #content2 let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">
                      Security Clearance
                    </h4>
                    <button
                      type="button"
                      class="close"
                      aria-label="Close"
                      (click)="modal.dismiss('Cross click')"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  <!-- BODY -->
                    <img style="width: 100%; height: 100%;cursor: pointer;"
                    [src]="
                      appFormObj.securityClearance != null
                        ? 'data:image/jpeg;base64,' +
                          appFormObj.securityClearance
                        : 'assets/emptyImg.jpg'
                    "
                    alt="Avatar"
                    class="avatar2"
                    >
                  </div>
                </ng-template>
                
              </div>
              <br />
              <input
                type="file"
                (change)="onImageChange($event, 'securityClearance')"
                required
              />
            </div>
            <div class="col-md-6">
              <mat-label style="font-size: 1em">Upload Employee application</mat-label>
              <br />
              <div *ngIf="appFormObj.employeeApplication">
                
                <img
                  style="margin-left: 25%; width: 50px; height: 50px"
                  [src]="
                    appFormObj.employeeApplication != null
                      ? 'data:image/jpeg;base64,' +
                        appFormObj.employeeApplication
                      : 'assets/emptyImg.jpg'
                  "
                  alt="Avatar"
                  class="avatar2"
                  (click)="openModalForPicture(content2)"
                />

                <ng-template #content2 let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">
                      Employee Application
                    </h4>
                    <button
                      type="button"
                      class="close"
                      aria-label="Close"
                      (click)="modal.dismiss('Cross click')"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  <!-- BODY -->
                    <img style="width: 100%; height: 100%;cursor: pointer;"
                    [src]="
                      appFormObj.employeeApplication != null
                        ? 'data:image/jpeg;base64,' +
                          appFormObj.employeeApplication
                        : 'assets/emptyImg.jpg'
                    "
                    alt="Avatar"
                    class="avatar2"
                    >
                  </div>
                </ng-template>
                
              </div>
              <br />
              <input
                type="file"
                (change)="onImageChange($event, 'employeeApplication')"
                required
              />
            </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-md-6">
              <mat-label style="font-size: 1em">Upload Employee ID</mat-label>
              <br />
              <div *ngIf="appFormObj.employeeIdentification">
                
                <img
                  style="margin-left: 25%; width: 50px; height: 50px"
                  [src]="
                    appFormObj.employeeIdentification != null
                      ? 'data:image/jpeg;base64,' +
                        appFormObj.employeeIdentification
                      : 'assets/emptyImg.jpg'
                  "
                  alt="Avatar"
                  class="avatar2"
                  (click)="openModalForPicture(content2)"
                />

                <ng-template #content2 let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">
                     View Picture
                    </h4>
                    <button
                      type="button"
                      class="close"
                      aria-label="Close"
                      (click)="modal.dismiss('Cross click')"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  <!-- BODY -->
                    <img style="width: 100%; height: 100%;cursor: pointer;"
                    [src]="
                      appFormObj.employeeIdentification != null
                        ? 'data:image/jpeg;base64,' +
                          appFormObj.employeeIdentification
                        : 'assets/emptyImg.jpg'
                    "
                    alt="Avatar"
                    class="avatar2"
                    >
                  </div>
                </ng-template>
                
              </div>
              <br />
              <input
                type="file"
                (change)="onImageChange($event, 'employeeIdentification')"
                required
              />
            </div>
            <div class="col-md-5">
              <mat-label style="font-size: 1em; text-align: center"
                >Upload Resume</mat-label
              >
              <br /><br />
              <input type="file" accept=".pdf,.docx,.doc" (change)="onFileChange($event)" required />
                <br>
                <br>
                <div *ngIf="appFormObj.resume!=null">
                  <button 
                  (click)="openDocument(content1)"
                  mat-raised-button
                 style="background-color: black;color: white;"
                >
                  View Document
                </button>
                </div>
              
              <ng-template #content1 let-modal style="width: 700px;">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">
                   View Resume
                  </h4>
                  <button
                    type="button"
                    class="close"
                    aria-label="Close"
                    (click)="modal.dismiss('Cross click')"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                <!-- BODY -->
                <ngx-doc-viewer *ngIf="appFormObj.resumeContentType!='doc'" [url]="viewResume"
                [viewer]="appFormObj.resumeContentType==='pdf' ? 'pdf' : 'mammoth'"
                [ngStyle]="appFormObj.resumeContentType!='pdf'?{'width':'100%','height':'80vh','overflow':'scroll'}:{'width':'100%','height':'80vh'}">
               </ngx-doc-viewer>
               <div *ngIf="appFormObj.resumeContentType=='doc'"
               style="height:200px;display: flex;justify-content: center;align-items: center;">
               <p>Preview not available</p>
             </div>
                </div>
                <div class="modal-footer">
                 <!-- BUTTONS -->
                 <button (click)="downloadFile()" class="btn" style="width:45%;margin-left:5%;">
                  Download</button>
                <button (click)="modal.dismiss('Cross click')" class="btn" style="width:45%;"> Cancel</button>
                </div>
              </ng-template>
            </div>
          
          </div>
          
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step>
          <h3>Social Media Information</h3>
          <div class="row" >
           
            <div class="row" style="margin-left:1%" *ngFor="let obj of socialLinks; let i = index;">
               
                <div class="col-md-4">
              <mat-form-field>
                <mat-label style="font-size: 1em">Select Social Media Site</mat-label>
                <mat-select
                  name="socialSite_{{i}}"
                  [(ngModel)]="obj.socialSite"
                  required
                >
                  <mat-option *ngFor="let media of socialMediaPlatforms" [value]="media.value">
                    {{ media.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>Social Media Link</mat-label>
                  <input  
                  style="width: 100%;"          
                    matInput
                    placeholder="Add social media link"
                    name="socialMedia_{{i}}"
                    [(ngModel)]="obj.socialLink"
                  />
                </mat-form-field>
                </div>
                <img *ngIf="socialLinks.length > 1" src="assets/minus.png" style="margin-top: 4%;cursor: pointer;" height="20px" width="20px" (click)="removeSocialLink(i)">

             
            </div>
          
              <img src="assets/add-button.png" style="margin-left: 0%;margin-top: 4%;cursor: pointer;" height="20px" width="20px" (click)="addSocialLink()">
           
          </div>

          <div class="row">
            <div class="col-md-2">
              <button
                [disabled]="formValidation() || disableSaveButton"
                (click)="saveApplicantForm(myForm)"
                mat-raised-button
                color="warn"
              >
                Save
              </button>
            </div>
           
            <!-- <div *ngIf="showSaveLoading" class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div> -->
            <div class="col-md-2" >
              <ng-template #content let-modal>
                <div class="modal-content">
                <div class="modal-header" >
                  <!-- <h4 class="modal-title" id="modal-basic-title">
                    Profile update
                  </h4> -->
                  <button
                    type="button"
                    class="close"
                    aria-label="Close"
                    (click)="modal.dismiss('Cross click')"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <!-- <label for="dateOfBirth">Reciever Email</label> -->
                      <div class="input-group">
                        <input
                          class="form-control"
                          placeholder="Enter email address"
                          name="email"
                          [(ngModel)]="responseEmail"
                        />
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-outline-dark"
                    (click)="sendEmail(); modal.dismiss('Cross click')"
                  >
                    Send Email
                  </button>
                </div>
              </div>
              </ng-template>
              <div *ngIf="responseStatus">
                <button
                  mat-raised-button
                  color="primary"
                  (click)="open(content)"
                >
                  Email
                </button>
              </div>
            </div>  <div class="col-md-2">
              <button mat-button matStepperPrevious>Back</button>
             
            </div>
            <!-- <div *ngIf="showloading" class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div> -->
          </div>
         
        </mat-step>
        </mat-horizontal-stepper>
        </form>
      </mat-card>
    </div>
  </div>
</div>
