<nav class="navbar navbar-light bg-light" style="background-color: white !important;border-top-color: black;border-top-style:solid; border-top-width: thin; border-bottom-style: ridge; box-shadow:0px 5px 5px rgb(179, 179, 179);">
  <a class="navbar-brand mb-0 h3" href="#" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: 600;">
   VIEW PROFILE</a>
</nav>
<br>
<div class = "container">
<mat-card>
  <mat-card-header style="background-color: #d7edf8">
    <div class="container">
      <div class="row">
        <div class="col-0">
          
          <img
            style="margin-left: 2% ;height: 140px;"
            src="assets/user.png"
            alt="Avatar"
            class="avatar"
          /></div>

          <!-- <input type="file"  style="margin-left: 40%;" > -->
          <div class="col-6" style="margin-top: 40px;">
              <div class="row">
          <span
            class="font-weight-bold col-6"
            style="font-size: x-large;"
            >John Doe</span
          ></div>

          <!-- <br /> -->
          <div class="row">
          <span style="margin-top: 15px;margin-left: 15px;" >example@gig.com</span></div>
        </div>
      </div>
    </div>
  </mat-card-header>
  <br>

  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-4">
          <span class = "font-weight-bold text-uppercase text-muted" style="font-size: small;">Documentation</span>
        </div>
      </div>
      <br>
     
      <div class="row">
        <div class="col-4">
          <span class = "font-weight-bold my-10" style="font-size: small">Visa Details</span>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <span class="text-muted" style="font-size: small">Visa in order</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-4">
          <span class = "font-weight-bold my-4" style="font-size: small">Canadian Citizen</span>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <span class="text-muted" style="font-size: small">Yes</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <span class = "font-weight-bold my-4" style="font-size: small">Completed Documentation</span>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <span class="text-muted" style="font-size: small">Yes</span>
        </div>

      </div>
      <br>
      

      <div class="row">
        <div class="col-8">
          <span class = "font-weight-bold text-uppercase text-muted" style="font-size: small;">Completed Documentation</span>
        </div>
      </div>
      <br>
      

      <div class="row">
        <div class="col-6">
          <span class = "font-weight-normal  text-muted" style="font-size: small;">Employee Application</span>
        </div>
        <div class="col-4">
            <span class = "font-weight-normal  text-muted" style="font-size: small;">Medical Clearance</span>
          </div>
      </div>
      <div class="row">
        <div class="col-6">
          <span class = "font-weight-normal  text-muted" style="font-size: small;">Employee Orientation</span>
        </div>
        <div class="col-4">
            <span class = "font-weight-normal  text-muted" style="font-size: small;">Employee Wellness</span>
          </div>
      </div>
      <div class="row">
        <div class="col-6">
          <span class = "font-weight-normal  text-muted" style="font-size: small;">Employee identification</span>
        </div>
        <div class="col-4">
            <span class = "font-weight-normal  text-muted" style="font-size: small;">Employee Contact</span>
          </div>
      </div>
      <div class="row">
        <div class="col-4">
          <span class = "font-weight-normal text-muted" style="font-size: small;">Security Clearance</span>
        </div>
      </div>


    </div>
    <mat-divider [vertical]="true"></mat-divider>

<div class="col-4">
    <div class="row">
        <div class="col-8">
          <span class = "font-weight-bold text-uppercase text-muted" style="font-size: small;">Contact Information</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <span class = "font-weight-bold" style="font-size: small;">Phone</span>
        </div>
        <div class="col-6">
            <span class = "font-weight-normal  text-muted" style="font-size: small;">1-403-888-8888</span>
          </div>
      </div>
      <br>
      
      <div class="row">
        <div class="col-6">
          <span class = "font-weight-bold" style="font-size: small;">Address</span>
        </div>
        <div class="col-6">
            <span class = "font-weight-normal  text-muted" style="font-size: small;">378 th Ave City Calgary Alberta Canada</span>
          </div>
      </div>
      <br>
      
      <div class="row">
        <div class="col-8">
          <span class = "font-weight-bold text-uppercase text-muted" style="font-size: small;">Basic Information</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <span class = "font-weight-bold" style="font-size: small;">Birthday</span>
        </div>
        <div class="col-6">
            <span class = "font-weight-normal  text-muted" style="font-size: small;">January 01 1980</span>
          </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <span class = "font-weight-bold" style="font-size: small;">Gender</span>
        </div>
        <div class="col-6">
            <span class = "font-weight-normal  text-muted" style="font-size: small;">Male</span>
          </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6">
            <button class="btn btn-primary">View Resume</button>
        </div>
      </div>


</div>

  </div>
</mat-card>
</div>


