<div class = "container">
<mat-card>
  <mat-card-header style="background-color: #d7edf8">
    <div class="container">
      <div class="row">
        <div class="col-0">
          
          <img
            style="margin-left: 2% ;height: 140px;"
            src="assets/user.png"
            alt="Avatar"
            class="avatar"
          /></div>

          <!-- <input type="file"  style="margin-left: 40%;" > -->
          <div class="col-6" style="margin-top: 40px;">
              <div class="row">
          <span
            class="font-weight-bold col-6"
            style="font-size: x-large;"
            >John Doe</span
          ></div>

          <!-- <br /> -->
          <div class="row">
          <span style="margin-top: 15px;margin-left: 15px;" >example@gig.com</span></div>
        </div>
      </div>
    </div>
  </mat-card-header>
  <br>

  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-4">
          <span class = "font-weight-bold text-uppercase text-muted" style="font-size: large;">Documentation</span>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-4">
          <span class = "font-weight-bold my-10" style="font-size: large">Visa Details</span>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <span class="text-muted" style="font-size: medium">Visa in order</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-4">
          <span class = "font-weight-bold my-4" style="font-size: large">Canadian Citizen</span>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <span class="text-muted" style="font-size: medium">Yes</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <span class = "font-weight-bold my-4" style="font-size: large">Completed Documentation</span>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <span class="text-muted" style="font-size: medium">Yes</span>
        </div>

      </div>
      <br>
      <br>

      <div class="row">
        <div class="col-8">
          <span class = "font-weight-bold text-uppercase text-muted" style="font-size: large;">Completed Documentation</span>
        </div>
      </div>
      <br>
      <br>

      <div class="row">
        <div class="col-6">
          <span class = "font-weight-normal  text-muted" style="font-size: large;">Employee Application</span>
        </div>
        <div class="col-4">
            <span class = "font-weight-normal  text-muted" style="font-size: large;">Medical Clearance</span>
          </div>
      </div>
      <div class="row">
        <div class="col-6">
          <span class = "font-weight-normal  text-muted" style="font-size: large;">Employee Orientation</span>
        </div>
        <div class="col-4">
            <span class = "font-weight-normal  text-muted" style="font-size: large;">Employee Wellness</span>
          </div>
      </div>
      <div class="row">
        <div class="col-6">
          <span class = "font-weight-normal  text-muted" style="font-size: large;">Employee identification</span>
        </div>
        <div class="col-4">
            <span class = "font-weight-normal  text-muted" style="font-size: large;">Employee Contact</span>
          </div>
      </div>
      <div class="row">
        <div class="col-4">
          <span class = "font-weight-normal text-muted" style="font-size: large;">Security Clearance</span>
        </div>
      </div>


    </div>
    <mat-divider [vertical]="true"></mat-divider>

<div class="col-4">
    <div class="row">
        <div class="col-8">
          <span class = "font-weight-bold text-uppercase text-muted" style="font-size: large;">Contact Information</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <span class = "font-weight-bold" style="font-size: large;">Phone</span>
        </div>
        <div class="col-6">
            <span class = "font-weight-normal  text-muted" style="font-size: large;">1-403-888-8888</span>
          </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-6">
          <span class = "font-weight-bold" style="font-size: large;">Address</span>
        </div>
        <div class="col-6">
            <span class = "font-weight-normal  text-muted" style="font-size: large;">378 th Ave City Calgary Alberta Canada</span>
          </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-8">
          <span class = "font-weight-bold text-uppercase text-muted" style="font-size: large;">Basic Information</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <span class = "font-weight-bold" style="font-size: large;">Birthday</span>
        </div>
        <div class="col-6">
            <span class = "font-weight-normal  text-muted" style="font-size: large;">January 01 1980</span>
          </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <span class = "font-weight-bold" style="font-size: large;">Gender</span>
        </div>
        <div class="col-6">
            <span class = "font-weight-normal  text-muted" style="font-size: large;">Male</span>
          </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6">
            <button class="btn btn-primary">View Resume</button>
        </div>
      </div>


</div>

  </div>
</mat-card>
</div>
