<div class="container">
    <div>hello
      <div *ngFor="let data of array">
        <p>{{data}}</p>
        </div>

<table class="table table-striped">
    <caption>List of users</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <div *ngFor="let d of array">
        <tr>hello{{d}}
          <td>{{d.id}}</td>
          <td>{{d.name}}</td>
          <td>{{d.phone}}</td>
          <td>{{d.address}}</td>
          <td>{{d.gender}}</td>
          <td>{{d.email}}</td>
          <td>{{d.citizenship}}</td>
          <td>{{d.visaDetails}}</td>
          <td>{{d.placeOfBirth}}</td>
          <td>{{d.dateOfBirth}}</td>
          <td>{{d.employeeApplication}}</td>
          <td>{{d.employeeOrientation}}</td>
          <td>{{d.employeeIdentification}}</td>
          <td>{{d.securityClearance}}</td>
          <td>{{d.medicalClearance}}</td>
          <td>{{d.employeeWellness}}</td>
          <td>{{d.emergencyContact}}</td>
  
          
        </tr>
      </div>
      
      
    </tbody>
  </table>
</div>

</div>



